body{
	background-color: rgb(0, 0, 0.926);
	
	/* to responsive page to all device */
	width: 100%;
	height: 100%;

}
nav{
	background-color: goldenrod;

	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.link{
	text-decoration: none;
	font-size: 35px;
	color: snow ;
	font-family: 'Ubuntu';
	margin: 20px;
}
.link:hover{
	/* for font bolder or itale */
	font-weight: bolder;
	/*color: red;*/
}

.writing{
	margin-top: 40px;
	border: 3px solid goldenrod;
	width: 40%;
	height: 70%;
	color: snow;
	text-align: left;

	font-size: 40px;
	margin: 30px;

	border-radius: 50px;

	padding: 20px;

}

#tel{
	width: 80%;
	background-color: rgba(220, 20, 60, 0.5);
	color: snow;
	text-align: center;
	font-size: 40px;
	border-radius: 60px;


}

ul{
	list-style: none;
}


img{
	width: 60%;
	margin: 40px;
	border-radius: 60px;
}

#main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;


	/* for image between text and if need to below */
	flex-wrap: wrap;
}

footer{
	background-color: goldenrod;
	height: 30px;
	text-align: center;
	margin-top: 80px;
	color: snow;
	font-size: 30px;
	padding: 15px;
}

@media (max-width: 770px) {
	 .link{

		font-size: 20px;
	}
	.link{
		font-size: 23px;
	}
	.writing{
		
		font-size: 23px;
	}

	#tel{
		
		font-size: 20px;

	}
	footer{
	
		font-size: 18px;
	
	}
}
